<!DOCTYPE html>
<html>
<head>
    <title>Flask Form Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <h1>Enter Text</h1>

    <BR>
    <form method="POST">

        <label for="text_input">Enter Samplerate (MHz): </label>
        <input type="text" id="sample_rate" name="sample_rate" value="20000000">
        <BR><BR>

        <label for="text_input">Enter Start (MHz): </label>
        <input type="text" id="start_freq" name="start_freq" value="1600000000">
        <BR><BR>

        <label for="text_input">Enter Stop (MHz): </label>
        <input type="text" id="stop_freq" name="stop_freq" value="1600000000">
        <BR><BR>

        <label for="text_input">Enter Step (MHz): </label>
        <input type="text" id="freq_step" name="freq_step" value="2000000">
        <BR><BR>

        <label for="text_input">Enter Gain: </label>
        <input type="text" id="gain" name="gain" value="65">
        <BR><BR>

        <label for="text_input">Enter Bandwidth (MHz): </label>
        <input type="text" id="bandwidth" name="bandwidth" value="5000000">
        <BR><BR>

        <label for="file_dropdown">Select IQ File: </label><BR>
        <select name="file_dropdown" id="file_dropdown">
            {% for option in options %}
            <option value="{{ option }}" {% if option == selected_value %}selected{% endif %}>{{ option }}</option>
            {% endfor %}
        </select>

        <BR><BR>
        <input type="submit" name="submit_button" value="Config">

    </form>

</body>
</html>
