<!DOCTYPE html>
<html>
    <script>
    function change_color()
    {
        var button = document.getElementById("myButton");
        if (button.style.backgroundColor === "red")
        {
            button.style.backgroundColor = "green";
        }
        else
        {
            button.style.backgroundColor = "red";
        }
    }
    </script>
<head>
    <title>SDR Server Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- {{ turbo() }} -->
</head>
<body>

<section class="layout">

    <div class="colSpan2 row1"><h1>SDR Server Interface</h1></div>

    <div class="col1 row2">
        <div class="server_section">
            <turbo-frame id = "server_frame">
            <form method="POST">
                <label for="text_input">SDR Server IP Address: </label>
                <input type="text" id="sdr_server_ip" name="sdr_server_ip" style="text-align: center; width: 110px" value={{sdr_server_ip}}>
                <BR><BR>

                <label for="text_input">SDR Server Port: </label>
                <input type="text" id="sdr_server_port" name="sdr_server_port" style="text-align: center; width: 110px" value={{sdr_server_port}}>

                <BR><BR>
                <input type="submit" class="submit_btn" name="submit_button" value="Connect">

            </form>
            </turbo-frame>
        </div>

        <div class="config_section">
            <turbo-frame id = "config_frame">
            <form method="POST">

                <label for="text_input">Samplerate (MHz): </label>
                <input type="number" id="sample_rate" name="sample_rate" value={{sr_str}} required>
                <BR><BR>

                <label for="text_input">Start Frequency (MHz): </label>
                <input type="number" id="start_freq" name="start_freq" value={{start_freq_str}} required>
                <BR><BR>

                <label for="text_input">Stop Frequency (MHz): </label>
                <input type="number" id="stop_freq" name="stop_freq" value={{stop_freq_str}} required>
                <BR><BR>

                <label for="text_input">Frequency Step (MHz): </label>
                <input type="number" id="freq_step" name="freq_step" value={{freq_step_str}} required>
                <BR><BR>

                <label for="text_input">Bandwidth (MHz): </label>
                <input type="number" id="bandwidth" name="bandwidth" value={{bw_str}} required>
                <BR><BR>

                <label for="text_input">Gain: </label>
                <input type="number" id="gain" name="gain" value={{gain_str}} required>
                <BR><BR>

                <label for="text_input">Scan Time (s): </label>
                <input type="number" id="scan_time" name="scan_time" value={{scan_str}} required>
                <BR><BR>

                <input type="submit" class="submit_btn" name="submit_button" value="Config Tx">

            </form>
            </turbo-frame>
        </div>

        <div class="iq_file_section">
            <turbo-frame id = "iq_frame">
            <form method="POST">
                <label for="file_dropdown">Select IQ File: </label><BR>
                <select name="file_dropdown" id="file_dropdown" class="drop_down">
                    {% for option in options %}
                    <option value="{{ option }}" {% if option == selected_value %}selected{% endif %}>{{ option }}</option>
                    {% endfor %}
                </select>

                <BR><BR>
                <input type="submit" class="submit_btn" name="submit_button" value="IQ File">
            </form>
            </turbo-frame>
        </div>

        <div class="enable_section">
            <turbo-frame id="enable_frame">
            <!--<form method="POST" action="/" data-turbo-frame="message_frame">-->
            <form method="POST">

                {% if amp_enable_state %}
                    <button type="submit" class="enable_btn" name="rf_button" value="amp_on" style="background-color: green;">Disable RF Section</button>
                {% else %}
                    <button type="submit" class="enable_btn" name="rf_button" value="amp_off" style="background-color: red;">Enable RF Section</button>
                {% endif %}

                {% if tx_enable_state %}
                    <!--<button type=submit class="btn btn-default" name="lamp" value="on">-->
                    <!--<input type="submit" name="submit_button" value="Enable TX" style="background-color: green;">-->
                    <button type="submit" class="enable_btn" name="tx_button" value="on" style="background-color: green;">Disable Tx</button>
                {% else %}
                    <!--<input type="submit" name="submit_button" value="Disable TX" style="background-color: red;">-->
                    <button type="submit" class="enable_btn" name="tx_button" value="off" style="background-color: red;">Enable Tx</button>
                {% endif %}
                <!--<input type="submit" id="myButton" name="submit_button" value="Enable TX" style="background-color: red;" onclick="change_color()">-->
                <!--<button id="myButton" style="background-color: lightblue;" onclick="changeColor()">Click me</button>-->

                {% if scan_enable_state %}
                    <button type="submit" class="enable_btn" name="scan_button" value="scan_on" style="background-color: green;">Disable Scan</button>
                {% else %}
                    <button type="submit" class="enable_btn" name="scan_button" value="scan_off" style="background-color: red;">Enable Scan</button>
                {% endif %}

            </form>
            </turbo-frame>
        </div>
    </div>

    <div class="col2 row2">
            {% include "server_status.html" %}
            <h4>Message:</h4>
        <turbo-frame id="message_frame">
            <div class="message_section">

            <form method="POST" data-turbo="true">
            <pre>{{ message_label }}</pre>
            </form>
        </div>
        </turbo-frame>
    </div>

    <!-- <div class="colSpan2 row3"><div>4</div><div>5</div></div> -->

</section>
</body>
</html>
