[Unit]
Description=Start BladeRF
After=multi-user.target

#------------------------------------------------------------------------------
# note: ${USER} will need to be changed to the actual username
#------------------------------------------------------------------------------
[Service]
#User=XXXXXXX
#Group=XXXXXXX
ExecStartPre=/bin/sleep 20
ExecStart=/home/${USER}/Projects/SDR/bladerf/tx_hop_example/build/./blade_tx /home/${USER}/Projects/SDR/bladerf/tx_hop_example/test_hop_input.yaml

[Install]
WantedBy=multi-user.target

# useful commands
# systemctl status bladerf.service
# sudo systemctl start bladerf.service
# sudo systemctl stop bladerf.service

# To add and enable the service after it has been copied to: /lib/systemd/system/
# reload the systemd daemon
# sudo systemctl daemon-reload

# enable the bladerf serrvice and autostart
# sudo systemctl enable bladerf.service
